<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO love ExpressJS</title>
</head>
<body>
  <h1>Socket.IO love ExpressJS @tranphuquy19</h1>
  <script src="socket.io/socket.io.js"></script>
  <script>
    let url = window.location.origin;
    let socket = io(url);
  </script>
</body>
</html>